*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#hero-image{
    background-image: url(https://image.ibb.co/gzOBup/showcase.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-align: center;
    color: #3d3a3a;
    text-shadow: 2px 2px white;

    font-weight: bold;
}

/* section 1: fa's */
#section1{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    padding:  75px 0;
    text-align: center;

}
#section1 .fa{
    font-size: 50px !important;
}
.card{
    width: 350px;
    margin: 0 20px;
}
.card h3{
    padding : 20px 0
}

/* section2: about us */
#section2{
    background-color:  #f4f4f4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #333;
    font-size: 20px;
    padding-bottom: 020px;

}
#section2 > div{
    width: 40%;
}
#section2  h2{
    padding:   30px 0;
}
#tv{
    text-align: right;
    font-size: 150px !important;
}
#tv .fa{
    font-weight: bold;
}

/* footer */
footer{
    height: 10vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

@media only screen and (max-width: 700px) {
    #section1{
        flex-direction: column;
        height: unset;
        padding: 25px 0 ;
        font-size: 20px;
    }
    #section1 .fa{
        font-size: 75px !important;
    }
    .card{
        margin: 20px;
    }
    #section2{
        flex-direction: column;
        height: unset;
        text-align: center;
        padding-bottom:  50px ;
        font-size: 26px;
    }
    #section2 div{
        width: 80%;
    }
    #tv{
        text-align: unset;
    }

}